{% extends 'base2.html' %}
{% load static %}



    {% block content %}

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/camping.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Change Password</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

   <!--================Checkout Area =================-->
  <section class="checkout_area section"> <br>
    <div class="container">
            
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-6">

                    <form class="" action="/changepass2/{{cust.cust_id}}/" method="post" onsubmit="return confirm('Are you sure, you want to change password..?')">
                        {% csrf_token %}
                        <div class="col-md-6 form-group">
                            <h3>Current Password :-</h3>
                            <input type="password" class="form-control"  name="opass" value="" >
                        </div>
                        <div class="col-md-6 form-group">
                            <h3>New Password :-</h3>
                            <input type="password" class="form-control"  name="npass" value="" >
                        </div>
                        <div class="col-md-6 form-group">
                            <h3>Confirm Password :-</h3>
                            <input type="password" class="form-control"  name="cpass" value="" >
                            {% if messages %}
                                        {% for msg in messages %}
                                            <code> {{ msg }} </code>
                                        {% endfor %}
                                    {% endif %}
                        </div>
                                    
                         &nbsp; &nbsp; &nbsp; <button type="submit" value="submit" class="tp_btn">Submit</button>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a class="tp_btn" href="{% url 'homepage' %}">Return to home</a>
                    </form>
                </div> 
            </div>
        </div>
        
    </div>
  </section>
  <!--================End Checkout Area =================-->
  {% endblock content %}